body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Open Sans', sans-serif;
}
button{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Rubik', sans-serif;
}
#topMenu{
    position: fixed;
    right: 0;
}
#topMenu ul li{
    display: inline;
    list-style: none;
}
#topMenu ul li a{
    text-decoration: none;
    margin: 10px;
    color: rgb(139,0,0);
}
#topMenu ul li a:hover{
    background: #008;
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
}

#heading h3{
    background: #008;
    color: #fff;
    line-height: 40px;
}


