body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: url('/images/bg.jpg');
    background-size: cover;
    background: rgb(192, 192, 240);
}

.headingText h1 {
    font-family: 'Quicksand', sans-serif;
    padding: 0 6px;
    margin: 4px;
    font-size: 72px;
    font-weight: bolder;



}

button {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Rubik', sans-serif;
}

#topMenu {
    position: relative;
    left: 400px;
    border-radius: 10px;
}

#topMenu ul li {
    display: inline;
    list-style: none;
}

#topMenu ul li a {
    text-decoration: none;
    margin: 10px;
    color: rgb(139, 0, 0);

}

#topMenu ul li a:hover {
    background: #008;
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
}

marquee h3 {
    color: #fff;
}

marquee {
    background: rgba(0, 0, 128, 0.75);
    height: 50px;
}

/* .increaseImg{
    background: url("images/bg.jpg");
    background-size: 600px 600px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    
} */
/* .increaseImg p {
    transform: rotate(330deg);
    position: relative;
    left: -700px;
    top: 352px;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Karla', sans-serif;
    color: rgb(139, 0, 0);
    background: -webkit-linear-gradient(right, transparent, #3838e2);
    text-align: right;

} */

.weDoInvest,
.weDoSave,
.weDoTogether {
    height: 250px;
    width: 30%;

    float: left;
    margin: 1.5%;
}

.weDoInvest {
    background: url("images/invest.jpg");
    background-size: cover;
    border-radius: 50px 0 0 50px;

}

.weDoSave {
    background: url("images/save.jpg");
    background-size: cover;
}

.weDoTogether {
    border-radius: 0 50px 50px 0;
    background: url("images/support.jpg");
    background-size: cover;

}

.whatWeDo p {
    height: 50px;
    color: #fff;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 53, 1), rgba(0, 0, 53, 0.4));
    position: relative;
    bottom: -185px;
}

.weDoInvest p {
    border-radius: 0 0 0 42px;
}

.weDoTogether p {
    border-radius: 0 0 42px 0;
}

@keyframes login {
    50% {
       /* /* background: #3838e2;
        padding: 10px; 
        border-radius: 8px; */
        font-size: 10px;
    }
}

@-webkit-keyframes login {
    50% {
       /* /* background: #3838e2;
        padding: 10px; 
        border-radius: 8px; */
        font-size: 10px;
    }
}

@-moz-keyframes login {
    50% {
        /* /* background: #3838e2;
        padding: 10px; 
        border-radius: 8px; */
        font-size: 10px;
    }
}

.loginBlink {
    animation: login 1s infinite;
    -webkit-animation: login 1s infinite;
    -moz-animation: login 1s infinite;
}

input, #gender {
    margin: 10px;
    padding: 10px;
    border-left: solid #3838e2 1px;
    border-right: solid #3838e2 1px;
    border-bottom: solid #3838e2 2px;
    border-radius: 0 0 10px 10px;
    background-color: hsl(240, 41%, 89%);
}

form {
    margin: 10px auto;
    /* width: 600px; */
    text-align: center;
}

fieldset {
    padding: 1px 2px 4px 2px;
    border-radius: 5px;
}
#loginBtn:hover,
#regBtn:hover {
    background: #008;
    color: #fff;
}
#registerBtn{
    padding: 10PX;
    border-radius: 12px 0 12px 0;
    color: #008;
}
#registerBtn:hover{
    padding: 10PX;
    border-radius:  0 12px 0 12px;
    color: #fff;
    background: #008;
}
input:focus, #gender:focus, input:hover, #gender:hover{
    background: #fff;
}
#loginBtn{
    border-radius: 10px;
}
.heading{
    position: relative;
    top: 50px;
    margin-bottom: 100px;
}

@media screen and (max-width: 600px){
    .headingText h1 {
        font-family: 'Quicksand', sans-serif;
        /* padding: 0 6px;
        margin: 4px; */
        font-size: 36px;
        font-weight: bolder;
    }
    #topMenu {
        position: relative;
        left: 0;
        border-radius: 10px;
    }
    .whatWeDo {
        height: 250px;
        /* width: 90%; */
    
        /* display: block; */
        margin: 0 auto;
    }
    .weDoInvest, .weDoSave, .weDoTogether{
        /* display: block; */
        width: 90%;
    }
    .weDoInvest{
        border-radius: 50px 50px 0 0;
        background: url("images/invest.jpg");
    background-size: cover;
    }
    .weDoInvest p{
        border-radius: 0;
    }
    .weDoTogether{
        border-radius: 0 0 50px 50px;
    }
    .weDoTogether p{
        border-radius: 0 0 42px 42px;
    }
}
.footer{
    height: 80px;
}
.footer li{
    list-style: none;
    float: left;
}
.footer a{
    text-decoration: none;
    margin: 10px;
}
#about h2, h3, h4{
    color: #8b0000;
}